<h1><strong>Assignment Topic</strong>:</h1>

<h2>I was provided with an empty Jupyterlite notebook which I launched in the course, to complete this assignment. I needed to include a combination of markdown and code cells. I did not needed to use the Markdown cheat sheet to help me determine the appropriate syntax for my markdown.</h2>

<h3>Guidelines for the submission:</h3> <br>
<h4>There are a total of 25 points possible for this final project.</h4>

<h5>I hope I will succeed, based on the following Exercises:</h5>

<ol>

<li>Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)</li>

<li>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</li>

<li>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</li>

<li>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</li>

<li>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</li>

<li>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</li>

<li>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</li>

<li>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</li>

<li>Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)</li>

<li>Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)</li>

<li>Exercise 12 - Share your notebook through GitHub (3 pts)</li>

<li>Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)</li>
    
</ol>

<strong>Exercise 1: Create a Jupyter Notebook</strong>

<h1>Name : DataScienceEcosistema</h1>

<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

<h1>Herramientas para la Ciencia de Datos</h1>

<strong>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</strong>

<p> En este cuaderno se resumen las herramientas de ciencia de datos y el ecosistema.<p>

<strong>A. Enumerar los lenguajes de la ciencia de datos.</strong>

<strong>Objectives:</strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

<strong>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</strong>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python.</li>
    <li>R.</li>
    <li>SQL.</li>
    <li>Scala</li>
    <li>Java</li>
    <li>JavaScript</li>
    <li>PHP</li>
    <li>Ruby</li>
   <li>Visual Basic</li>
</ol>

<strong>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</strong>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>Matplotlib</li>
    <li>Seaborn</li>
    <li>Scikit-learn</li>
    <li>Keras</li>
    <li>TensorFlow</li>
    <li>Pytorch</li>
    <li>Apache Spark</li>
    <li>Vegas</li>
    <li>Big DL</li>
    <li>Ggplo2</li>
    
</ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>

<table>
  <tr>
    <th>Lenguaje</th>
    <th>Herramienta</th>
    <th>Descripción</th>
  </tr>
  <tr>
    <td>Python</td>
    <td>NumPy</td>
    <td>Para computación científica con matrices.</td>
  </tr>
  <tr>
    <td>Python</td>
    <td>Pandas</td>
    <td>Para análisis y manipulación de datos.</td>
  </tr>
  <tr>
    <td>Python</td>
    <td>Scikit-learn</td>
    <td>Para aprendizaje automático.</td>
  </tr>
  <tr>
    <td>Python</td>
    <td>TensorFlow</td>
    <td>Para aprendizaje profundo.</td>
  </tr>
  <tr>
    <td>Python</td>
    <td>PyTorch</td>
    <td>Para aprendizaje profundo.</td>
  </tr>
  <tr>
    <td>Python</td>
    <td>Matplotlib</td>
    <td>Para visualización de datos.</td>
  </tr>
  <tr>
    <td>Python</td>
    <td>Seaborn</td>
    <td>Para visualización de datos.</td>
  </tr>
  <tr>
    <td>R</td>
    <td>base R</td>
    <td>Funciones básicas para análisis estadístico y visualización de datos.</td>
  </tr>
  <tr>
    <td>R</td>
    <td>ggplot2</td>
    <td>Para visualización de datos.</td>
  </tr>
  <tr>
    <td>R</td>
    <td>tidyverse</td>
    <td>Conjunto de paquetes para análisis de datos.</td>
  </tr>
  <tr>
    <td>R</td>
    <td>caret</td>
    <td>Para aprendizaje automático.</td>
  </tr>
  <tr>
    <td>R</td>
    <td>xgboost</td>
    <td>Para aprendizaje automático.</td>
  </tr>
  <tr>
    <td>SQL</td>
    <td>MySQL</td>
    <td>Sistema de gestión de bases de datos relacionales.</td>
  </tr>
  <tr>
    <td>SQL</td>
    <td>PostgreSQL</td>
    <td>Sistema de gestión de bases de datos relacionales.</td>
  </tr>
  <tr>
    <td>SQL</td>
    <td>Oracle</td>
    <td>Sistema de gestión de bases de datos relacionales.</td>
  </tr>
  <tr>
    <td>SQL</td>
    <td>Microsoft SQL Server</td>
    <td>Sistema de gestión de bases de datos relacionales.</td>
  </tr>
  <tr>
    <td>Otros</td>
    <td>Apache Spark</td>
    <td>Framework para el procesamiento de datos a gran escala.</td>
  </tr>
  <tr>
    <td>Otros</td>
    <td>Apache Hadoop</td>
    <td>Sistema de archivos distribuidos para Big Data.</td>
  </tr>
  <tr>
    <td>Otros</td>
    <td>Kafka</td>
    <td>Plataforma de streaming de datos.</td>
  </tr>
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</strong>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

In [5]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

24

In [6]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

<strong>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</strong>

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5
# Result: 17

17

<strong>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</strong>

In [12]:
#Convertir minutos a horas
def convertir_minutos_a_horas(minutos):
  horas = minutos // 60
  minutos_restantes = minutos % 60
  return horas, minutos_restantes

# Ejemplo de uso
minutos = int(input("Ingrese el número de minutos: "))
horas, minutos_restantes = convertir_minutos_a_horas(minutos)
print(f"{minutos} minutos equivalen a {horas} horas y {minutos_restantes} minutos.")

Ingrese el número de minutos:  200

200 minutos equivalen a 3 horas y 20 minutos.

<strong>Exercise 10 -Insert a markdown cell to list Objectives.</strong>

<p>Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.</p>

<strong>Exercise 11 - Create a markdown cell to indicate the Author’s name.</strong>

<h2>Author:</h2> Luis Gallegos